~
[Bb]uild/
[Bb]in
[Dd]ebug*/
obj/
[Rr]elease*/
ipch/
_ReSharper*/
[Tt]est[Rr]esult
[Bb]uild[Ll]og.*
Ankh.NoLoad
*.swp
*.userprefs
*.[Oo]bj
*.exe
*.exp
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*.pidb
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.scc
*.[Rr]e[Ss]harper
*.zip
*.[Pp]ublish.xml

#OS junk files
[Tt]humbs.db
*.DS_Store